/* Font Configurations */

@font-face {
    font-family: led_dot_font;
    src: url(typography/led_dot_matrix/LED\ Dot-Matrix.ttf);
}

@font-face {
    font-family: inter_font;
    src: url(typography/inter/Inter-Regular.ttf);
}

@font-face {
    font-family: poppins_font;
    src: url(typography/Poppins/Poppins-Regular.ttf);
}

body {
    background-color: black;
}

/* Section apresentação */

.apresentacao-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 685px;
}

.apresentacao-section h1 {
    font-family: poppins_font;
    font-size: 58px;
    font-weight: 700;
    line-height: 41px;
}

.apresentacao-section p {
    font-family: inter_font;
    font-size: 24px;
    text-align: center;
    line-height: 42px;
    width: 60%;
    margin-top: 2rem;
}

.apresentacao-botoes {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 1.3rem;
}

#nossos-trabalhos-btn {
    cursor: pointer;
    color: var(--Text---Platinum, #DFDFDF);
    font-size: medium;
    text-align: center;
    font-weight: bold;
    background-color: black;
    border: 2px solid #606060;
    width: 196px;
    padding: 20px 22px 20px 22px;
}

#solicite-um-servico-btn {
    cursor: pointer;
    background-color: #EDEDED;
    font-size: medium;
    font-weight: bold;
    color: #404040;
    width: 196px;
    border: 0px;
    padding: 20px 22px 20px 22px;
}

/* Section serviços */

.servicos-section {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    padding-top: 70px;
    padding-bottom: 70px;
}

.servicos-section header {
    display: block;
    justify-content: center;
    text-align: center;
}

.servicos-section header h3 {
    color: #868686;
    font-family: inter_font;
    font-size: large;
    font-weight: 500;
    line-height: 46.5px;
}

.servicos-section header h1 {
    color: #F9F9F9;
    font-family: inter_font;
    font-size: xx-large;
    font-weight: 500;
    line-height: 82.5px;
}

.servicos-cards {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 72px;
}

.servico-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 475px;
    width: 22rem;
    gap: 2.5rem;
    background-color: black;
}

.servico-card h3 {
    color: #F9F9F9;
    font-family: poppins_font;
    font-size: 20px;
    font-weight: 500;
    height: 17px;
    width: 293px;
    /* margin-top: 40px; */
}

.servico-card p {
    color: #868686;
    font-family: inter_font;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    height: 173px;
    width: 296px;
    /* margin-top: 40px; */
}

.servico-card-container-img {
    background-color: #404040;
    /* Rever essa cor pq não sei qual é */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    opacity: 0.9;
}

/* Section bandejapp  */

.bandejapp-section {
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
}

.container-section3-conteudo {
    /*background-color: var(--Eerie-Black, #202020);*/
    background-color: black;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 10%;
    width: 80%;
    height: 500px;
    color: white;
}

.bandejapp {
    background-color: var(--Eerie-Black, #202020);
    display: flex;
    height: 480px;
    padding: 0px 313.621px 0px 313px;
    justify-content: center;
    align-items: center;
}

#bandejapp-img {
    width: 594.206px;
    height: 142px;
    flex-shrink: 0;
}

.container-section3-inferior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.container-section3-inferior p {
    font-size: large;
    font-family: inter_font;
    width: 60%;
    text-align: justify;
    line-height: 32px;
}

#outros-projetos-btn {
    cursor: pointer;
    background-color: #EDEDED;
    font-size: medium;
    font-weight: bold;
    color: #404040;
    width: 220px;
    border: 0px;
    padding: 20px 22px 20px 22px;
}

/* Section patrocinadores */

.patrocinadores-section {
    background-color: #202020;
    padding-top: 70px;
    padding-bottom: 70px;
    display: block;
    align-items: center;
    justify-content: center;
}

.patrocinadores-section header {
    display: block;
    justify-content: center;
    text-align: center;
}

.patrocinadores-section header h3 {
    color: #868686;
    font-family: inter_font;
    font-size: large;
    font-weight: 500;
    line-height: 46.5px;
}

.patrocinadores-section header h1 {
    color: #F9F9F9;
    font-family: inter_font;
    font-size: xx-large;
    font-weight: 500;
    line-height: 82.5px;
}

.patrocinadores-cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 72px;
}

.patrocinador-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 22rem;
    background-color: black;
}

#preenchimento {
    width: 100%;
    height: 200px;
    background-color: black;
}

/* Footer */

footer {
    width: 100%;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 288px;
}

.container-footer-texto-superior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 100px;
    width: 259px;
}

.container-footer-texto-superior h1:nth-child(1) {
    color: #010101;
    font-family: led_dot_font;
    font-size: 32px;
    font-weight: 400;
    line-height: 23.03px;
}

.container-footer-texto-superior h1:nth-child(2) {
    color: #202020;
    font-family: inter_font;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
}

.container-footer-texto-inferior {
    color: #202020;
    font-family: inter_font;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
}

@media (max-width: 768px) {

    .servicos-cards,
    .patrocinadores-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.3rem;
    }

    .servico-card,
    .patrocinador-card {
        width: 28rem;
    }
}

@media (max-width: 425px) {
    .apresentacao-botoes {
        flex-direction: column;
    }

    .apresentacao-section h1 {
        font-family: poppins_font;
        font-size: 58px;
        font-weight: 700;
        line-height: 41px;
    }

    .apresentacao-section p {
        font-size: large;
        text-align: justify;
        width: 80%;
    }

    .servico-card,
    .patrocinador-card {
        width: 19rem;
    }
}