/* Font Configurations */

@font-face {
    font-family: led_dot_font;
    src: url(../typography/led_dot_matrix/LED\ Dot-Matrix.ttf);
}

@font-face {
    font-family: inter_font;
    src: url(../typography/inter/Inter-Regular.ttf);
}

@font-face {
    font-family: poppins_font;
    src: url(../typography/Poppins/Poppins-Regular.ttf);
}

/* Navbar */

nav {
    background-color: black;
    height: 107px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 107px;
    width: 1224px;
}
.container-navbar-header-left {
    display: flex;
    align-items: center;
    height: 67px;
    text-align: center;
    width: 145px;
}
.navbar-header-left {
    font-family: led_dot_font;
    color: #F9F9F9;
    font-size: 32px;
    font-weight: 400;
    line-height: 23.03px;
}
.container-navbar-list-center {
    width: 253px;
}
.navbar-list-center {
    font-family: inter_font;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.navbar-list-center li a{
    color: #F9F9F9;
    text-decoration: none;
}
.navbar-list-center-inicio {
    font-weight: 700;
}

.container-navbar-list-right {
    width: 198px;
}
.navbar-list-right {

    justify-content: space-between;
    display: flex;
}

/* Header */

/* Section 1 */

.container-section1 {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 685px;
}
.container-section1-conteudo {
    display: flex;
    flex-direction: column;
    height: 282px;
    width: 840px;
    margin-top: -34px;
}
.section1-textos {
    text-align: center;
}
.section1-textos h1{
    font-family: poppins_font;
    font-size: 58px;
    font-weight: 700;
    line-height: 41px;
}
.section1-textos p{
    font-family: inter_font;
    font-size: 24px;
    line-height: 42px;
    height: 101px;
    width: 808px;
    margin: 44px 0px 0px 16px;
}

#section1-texto-linha1::after {
    content: "\a";
    white-space: pre;
}
#section1-texto-linha2::after {
    content: "\a";
    white-space: pre;
}

.section1-botoes {
    height: 52px;
    width: 410px;
    margin: 44px 0px 0px 215px;
}

.section1-botoes :nth-child(1) {
    background-color: black;
    color: #DFDFDF;
    border: 2px solid #606060;
    padding: 20px 22px 20px 22px;
    height: 52px;
    width: 192px;
}
.section1-botoes :nth-child(2) {
    background-color: #EDEDED;
    color: #404040;
    padding: 20px 22px 20px 22px;
    height: 52px;
    width: 196px;
    margin-left: 18px;
}
.section1-botoes-texto {
    cursor: pointer;
}

/* Section 2 */

.container-section2 {
    background-color: #202020;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-section2-conteudo {
    height: 620px;
    width: 1224px;
}
.container-section2-textos {
    display: flex;
    justify-content: center;
    text-align: center;
}
.section2-textos {
    height: 73px;
    width: 569px;
}
.section2-textos h3{
    color: #868686;
    font-family: inter_font;
    font-size: 17px;
    font-weight: 500;
    line-height: 46.5px;
    margin-top: -16px;
}
.section2-textos h1{
    color: #F9F9F9;
    font-family: inter_font;
    font-size: 26px;
    font-weight: 500;
    line-height: 82.5px;
    margin-top: -10px;
}
.section2-cards {
    height: 475px;
    width: 1224px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 72px;
}


.section2-cards-container1{
    background-color: black;
    height: 475px;
    width: 348px;
    display: flex;
    justify-content: center;
}

.section2-cards-container1-conteudo {
    margin-top: 62px;
    text-align: center;
}

.section2-cards-container1-conteudo-caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2-cards-container1-conteudo-caixa-img {
    background-color: #404040; /* Rever essa cor pq não sei qual é */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    opacity: 0.9;
}

.section2-cards-container1-conteudo-caixa h3{
    color: #F9F9F9;
    font-family: poppins_font;
    font-size: 20px;
    font-weight: 500;
    height: 17px;
    width: 293px; 
    margin-top: 40px;
}

.section2-cards-container1-conteudo-caixa p{
    color: #868686;
    font-family: inter_font;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    height: 173px;
    width: 296px; 
    margin-top: 40px;
}

.section2-cards-container2{
    background-color: black;
    height: 475px;
    width: 348px;
    display: flex;
    justify-content: center;
}

.section2-cards-container2-conteudo {
    margin-top: 62px;
    text-align: center;
}

.section2-cards-container2-conteudo-caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2-cards-container2-conteudo-caixa-img {
    background-color: #404040; /* Rever essa cor pq não sei qual é */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    opacity: 0.9;
}

.section2-cards-container2-conteudo-caixa h3{
    color: #F9F9F9;
    font-family: poppins_font;
    font-size: 20px;
    font-weight: 500;
    height: 17px;
    width: 293px; 
    margin-top: 40px;
}

.section2-cards-container2-conteudo-caixa p{
    color: #868686;
    font-family: inter_font;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    height: 173px;
    width: 296px; 
    margin-top: 40px;
}


.section2-cards-container3{
    background-color: black;
    height: 475px;
    width: 348px;
    display: flex;
    justify-content: center;
}

.section2-cards-container3-conteudo {
    margin-top: 62px;
    text-align: center;
}

.section2-cards-container3-conteudo-caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2-cards-container3-conteudo-caixa-img {
    background-color: #404040; /* Rever essa cor pq não sei qual é */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    opacity: 0.9;
}

.section2-cards-container3-conteudo-caixa h3{
    color: #F9F9F9;
    font-family: poppins_font;
    font-size: 20px;
    font-weight: 500;
    height: 17px;
    width: 293px; 
    margin-top: 40px;
}

.section2-cards-container3-conteudo-caixa p{
    color: #868686;
    font-family: inter_font;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    height: 173px;
    width: 296px; 
    margin-top: 40px;
}

/* Section 3 */
/* Section 4 */
/* Footer */

footer {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 288px;
}
.container-footer-textos{
    background-color: #EDEDED;
    height: 144px;
    width: 306px;
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
}
.container-footer-texto-superior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 100px;
    width: 259px;
}
.container-footer-texto-superior h1:nth-child(1){
    color: #010101;
    font-family: led_dot_font;
    font-size: 32px;
    font-weight: 400;
    line-height: 23.03px;
}
.container-footer-texto-superior h1:nth-child(2){
    color: #202020;
    font-family: inter_font;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
}
.container-footer-texto-inferior{
    color: #202020;
    font-family: inter_font;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
}
